.page-container {
  padding-left: 240px;
}

.sidebar {
  width: 240px;
  padding: 40px 0;
}

.logo-img {
  width: 160px;
  height: 160px;
  margin-bottom: 20px;
}

.fundo {
  background-image: url('/bghero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

* {
  font-family: 'Poppins', sans-serif;
  outline: none !important;
  scroll-behavior: smooth !important;
}

.fab {
  display: flex !important;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .page-container {
    padding-left: 0;
    width: 812px;
  }
  .bar {
    display: none;
  }
}
